{% extends "booking/layout.html" %}
{%load static%}

{% block body%}
<div class="about-us-container">
    <div class="about-us-content">
        <h1 id="h1-us">About Us</h1>
        <p id="p-us">Welcome to our creative space where ideas come to life! We are a passionate team dedicated to crafting unique experiences and solutions.</p>
        <p>Our mission is to inspire and innovate, pushing the boundaries of what's possible. With a blend of creativity and expertise, we bring your ideas into reality.</p>
        <img class="about-us-image" src="{% static "Images/logo1.jpg" %}" alt="Our Team" width="75" height="75">
     </div>
  </div>
{% endblock%}
